:root {

    --black: #111111;
    --yellow: #ffd600;
    --yellow-dark: #ffc400;
    --white: #ffffff;
    --grey: #f5f5f5;
    --text-grey: #777777;

}

* {

    box-sizing: border-box;

}

body {

    margin: 0;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background: var(--grey);

    color: var(--black);

}

button {

    font-family: inherit;
    cursor: pointer;

}

.page {

    display: none;

    min-height: 100vh;

    padding: 24px;

}

.page.active {

    display: block;

}


/* AUTH */

#authPage {

    background:
        radial-gradient(
            circle at top,
            #333,
            #080808
        );

    align-items: center;
    justify-content: center;

}

#authPage.active {

    display: flex;

}

.auth-card {

    width: min(420px, 100%);

    background: white;

    border-radius: 28px;

    padding: 36px;

    text-align: center;

    box-shadow:
        0 20px 50px
        rgba(0,0,0,.3);

}

.logo-placeholder {

    width: 100px;
    height: 100px;

    border-radius: 50%;

    margin: auto;

    background: var(--yellow);

    display: grid;
    place-items: center;

    font-size: 46px;

}

.logo-area h1 {

    font-size: 42px;

    margin:
        15px 0 5px;

}

.logo-area p {

    color: var(--text-grey);

}

input {

    width: 100%;

    padding: 16px;

    margin-top: 12px;

    border-radius: 14px;

    border: 2px solid #eee;

    font-size: 16px;

}

input:focus {

    outline: none;

    border-color:
        var(--yellow-dark);

}


/* BUTTON */

.primary-btn {

    border: 0;

    background:
        var(--yellow);

    color:
        var(--black);

    font-weight: 900;

    border-radius: 14px;

    padding: 16px 24px;

    margin-top: 15px;

    box-shadow:
        0 6px 0 #d6b300;

    transition: .15s;

}

.primary-btn:active {

    transform:
        translateY(5px);

    box-shadow:
        0 1px 0 #d6b300;

}

.secondary-btn {

    background: white;

    border:
        2px solid #ddd;

    border-radius: 14px;

    padding: 15px;

    margin-top: 12px;

    font-weight: bold;

}


/* HOME */

.main-header {

    max-width: 1100px;

    margin: auto;

    display: flex;

    align-items: center;

    justify-content: space-between;

}

.xp-box {

    background:
        var(--black);

    color:
        var(--yellow);

    border-radius: 50px;

    padding: 12px 18px;

    font-weight: bold;

}

.hero {

    max-width: 1100px;

    margin:
        25px auto;

    padding: 35px;

    border-radius: 28px;

    background:
        var(--black);

    color:
        white;

    display: flex;

    align-items: center;

    justify-content:
        space-between;

    overflow: hidden;

}

.hero span {

    color:
        var(--yellow);

}

.hero h1 {

    max-width: 550px;

    font-size:
        clamp(
            32px,
            5vw,
            54px
        );

}

.hero-ninja {

    font-size:
        clamp(
            70px,
            12vw,
            160px
        );

    animation:
        floating 3s
        ease-in-out infinite;

}

@keyframes floating {

    0%,100% {
        transform:
            translateY(0);
    }

    50% {
        transform:
            translateY(-10px);
    }

}

.tag {

    display: inline-block;

    background:
        var(--yellow);

    color:
        black !important;

    border-radius: 50px;

    padding:
        7px 12px;

    font-size: 12px;

    font-weight: bold;

}

#homePage > h2 {

    max-width: 1100px;

    margin:
        30px auto 15px;

}

.topic-grid {

    max-width: 1100px;

    margin:
        auto auto 100px;

    display: grid;

    grid-template-columns:
        repeat(
            4,
            1fr
        );

    gap: 18px;

}

.topic-card {

    border: 0;

    background:
        white;

    padding: 22px;

    min-height: 180px;

    border-radius: 22px;

    text-align: left;

    box-shadow:
        0 8px 30px
        rgba(0,0,0,.05);

    transition: .2s;

}

.topic-card:hover {

    transform:
        translateY(-5px);

    box-shadow:
        0 12px 35px
        rgba(0,0,0,.1);

}

.topic-card span {

    display: block;

    font-size: 45px;

    margin-bottom: 20px;

}

.topic-card strong {

    display: block;

    font-size: 20px;

}

.topic-card small {

    color:
        var(--text-grey);

}


/* QUIZ */

.quiz-wrapper {

    width:
        min(
            750px,
            100%
        );

    margin: auto;

}

.quiz-header {

    display: flex;

    align-items: center;

    gap: 15px;

}

.progress-container {

    flex: 1;

    height: 13px;

    border-radius: 20px;

    background:
        #ddd;

    overflow: hidden;

}

#progressBar {

    width: 10%;

    height: 100%;

    background:
        var(--yellow);

    transition:
        width .3s;

}

.quiz-card {

    background:
        white;

    margin-top:
        35px;

    border-radius:
        30px;

    padding:
        clamp(
            25px,
            6vw,
            50px
        );

    text-align:
        center;

}

#questionText {

    font-size:
        clamp(
            30px,
            7vw,
            52px
        );

}

.answers {

    display: grid;

    grid-template-columns:
        repeat(
            2,
            1fr
        );

    gap: 15px;

    margin-top:
        30px;

}

.answer-btn {

    min-height:
        90px;

    font-size:
        25px;

    font-weight:
        bold;

    border-radius:
        18px;

    border:
        3px solid #eee;

    background:
        white;

}

.answer-btn:hover {

    border-color:
        var(--yellow);

    background:
        #fffbe0;

}

.answer-btn.correct {

    background:
        #d9ffd9;

    border-color:
        #1bbb49;

}

.answer-btn.wrong {

    background:
        #ffe0e0;

    border-color:
        #f44336;

}


/* RESULT */

.result-card {

    width:
        min(
            550px,
            100%
        );

    margin:
        30px auto;

    background:
        white;

    border-radius:
        30px;

    padding:
        35px;

    text-align:
        center;

}

.trophy {

    font-size:
        80px;

}

#stars {

    font-size:
        35px;

}

.score-circle {

    width:
        150px;

    height:
        150px;

    margin:
        25px auto;

    border-radius:
        50%;

    background:
        var(--black);

    color:
        var(--yellow);

    display:
        flex;

    flex-direction:
        column;

    align-items:
        center;

    justify-content:
        center;

}

.score-circle span {

    font-size:
        48px;

    font-weight:
        900;

}

.result-stats {

    display:
        grid;

    grid-template-columns:
        repeat(
            3,
            1fr
        );

    gap:
        10px;

}

.result-stats div {

    background:
        var(--grey);

    padding:
        15px 5px;

    border-radius:
        15px;

}

.result-stats strong {

    display:
        block;

    font-size:
        23px;

}


/* CHILD */

.children-grid {

    display:
        grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(
                180px,
                1fr
            )
        );

    gap:
        20px;

    margin:
        30px 0;

}

.child-card {

    border:
        3px solid transparent;

    border-radius:
        22px;

    background:
        white;

    padding:
        25px;

    text-align:
        center;

}

.child-card:hover {

    border-color:
        var(--yellow);

}

.child-avatar {

    font-size:
        55px;

}


/* BOTTOM NAV */

.bottom-nav {

    position:
        fixed;

    bottom:
        15px;

    left:
        50%;

    transform:
        translateX(-50%);

    width:
        min(
            550px,
            calc(
                100% - 30px
            )
        );

    background:
        var(--black);

    padding:
        8px;

    border-radius:
        20px;

    display:
        grid;

    grid-template-columns:
        repeat(
            4,
            1fr
        );

}

.bottom-nav button {

    border: 0;

    background:
        transparent;

    color:
        white;

    padding:
        9px;

}

.bottom-nav span {

    display: block;

    font-size:
        10px;

}


/* RESPONSIVE */

@media (
    max-width: 850px
) {

    .topic-grid {

        grid-template-columns:
            repeat(
                2,
                1fr
            );

    }

}


@media (
    max-width: 550px
) {

    .page {

        padding: 15px;

    }

    .hero {

        padding: 25px;

    }

    .hero-ninja {

        display:
            none;

    }

    .topic-grid {

        grid-template-columns:
            repeat(
                2,
                1fr
            );

        gap:
            10px;

    }

    .topic-card {

        min-height:
            150px;

        padding:
            16px;

    }

    .answers {

        grid-template-columns:
            1fr;

    }

}
